@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body{
    cursor: default !important;
}

h2,  h4, h3, h5,  h6, h1 {
    text-transform: initial !important;
    font-family: "Quicksand", sans-serif !important;
}

h2{
    font-size: 3rem !important;
}

h3{
    font-size: 2.5rem !important;
}

h4{
    font-size: 2rem !important;
}

.agendaList{
    display: grid !important;
    grid-template-columns: auto auto !important;
    gap: .1rem !important;
    list-style: none !important;
    padding: 0 !important;
    margin: 0 !important;
    grid-row: auto !important;
    height: fit-content !important;
    align-items: center !important;
}

.agendaPage{
    background-image: url("./assets/images/2321000101_95294d2102_k.jpg") !important;
    background-size: cover !important;
    background-position: center !important;
}
.agendaList p{
    font-family: "Quicksand", sans-serif !important;
    font-size: 2rem !important;
}

.titlePage{
    background-image: url('./assets/images/2321000101_95294d2102_k.jpg') !important;
    background-size: cover !important;
    background-position: center !important;
}
.r-frame{
    color: rgb(255, 255, 255) !important;
    background-color: rgba(0, 0, 0, 0.8) !important;
    border-color: rgba(0, 0, 0, 0) !important;
    border-radius: 20px;
}

.backgroundInfo{
    font-size: 1.5rem !important;
    max-width: fit-content !important; 
}

.backgroundInfo li{
    font-size: 1.3rem !important;
    margin-bottom: 1rem !important;
}

.container img{
    max-width: 25rem !important;
}

.container label{
    font-size: 1.2rem !important;
    font-style: italic !important;
}

.container{
    display: grid !important;
    grid-template-columns: auto auto !important;
    gap: 2rem !important;
}
.container ul{
    font-size: 1.3rem !important;
    margin-bottom: 1rem !important;
}

#currentIssuesImage{
    height: 15rem !important;
}

.controls-arrow{
    color: rgb(0, 62, 134) !important;
}

.slide-number-a{
    color: rgb(98, 205, 255) !important;
}
.slide-number-b{
    color: rgb(0, 158, 197) !important;
}
.slide-number-delimiter{
    color: rgb(0, 119, 255) !important;
}
.progress{
    background-color: rgba(0, 119, 255, 0.281) !important;
}
.progress span{
    background-color: rgb(0, 119, 255) !important;
}